@font-face {
    font-family: 'Nunito';
    src: url(fonts/Nunito-VariableFont_wght.ttf);
}
body{
    background-color: #180F0F;
}

h1{
    color: #45e76b;
    font-family: 'Nunito', serif;
    font-size: 35px;
    font-weight: 550;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
}

/*.maahl,.phyhl,.chemsl,.cshl,.ellsl,.fab{
    width: 400px;
}*/

.notes{
    color: #45e76b;
    text-decoration: none;
    font-family: 'Nunito', serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-left: 100px;
    padding-left: 20px;
    padding-right: 150svh;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    transition: 0.3s;
    display: inline;
    width: 10px;
}

.classrec{
    color: #45e76b;
    text-decoration: none;
    font-family: 'Nunito', serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-left: 100px;
    padding-left: 20px;
    padding-right: 134svh;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    transition: 0.3s;
    display: inline;
}

.books{
    color: #45e76b;
    text-decoration: none;
    font-family: 'Nunito', serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-left: 100px;
    padding-left: 20px;
    padding-right: 150svh;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.worsol{
    color: #45e76b;
    text-decoration: none;
    font-family: 'Nunito', serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-left: 100px;
    padding-left: 20px;
    padding-right: 133svh;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    transition: 0.3s;
}



/*.fab{
    color: #45e76b;
    text-decoration: none;
    font-family: 'Nunito', serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-left: 100px;
    padding-left: 20px;
    padding-right: 137svh;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    transition: 0.3s;
}   

.ellsl{
    color: #45e76b;
    text-decoration: none;
    font-family: 'Nunito', serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-left: 100px;
    padding-left: 20px;
    padding-right: 111svh;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    transition: 0.3s;
}
*/
a:hover{
    background-color: #302c2c;
}